.mapGraphCt {
  position: relative;
  width: 100%;
  min-height: 677px;
  background-color: #262626;
  border-radius: 16px;
  .mapGraph{
    position: relative;
    width: 100%;
    min-height: 540px;
    margin-bottom: 20px;
    .popup {
      position: absolute;
      z-index: 999;
      min-height: 44px;
      background: #2E3038;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      padding: 0 16px;
      color: white;
      font-family: Cascadia Mono, monospace;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 8px;
      .nodeIdInfo {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .noNodeIdErrorInfo {
        max-width: 340px;
        padding: 10px 0;
        .Mt10 {
          margin-top: 10px;
        }
      }
      span,div {
        a {
          color: #6CE37C !important;
        }
      }
      img {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .searchNodeContainer {
    height: 112px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    margin-top: -20px;
    gap: 24px;

    .inputSearchNodeID {
      width: 388px;
      height: 44px;
      border: none;
      border-radius: 47px;
      background: #2E3038;
      color: white;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 12px;
      border: 1px solid #565A6A;
      div {
        width: 44px;
        height: 44px;
        &:hover {
          cursor: pointer;
        }
      }
      input {
        flex: 1;
        background: none;
        border: none;
        color: white;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-left: 16px;
        &:focus {
            outline: none;
        }
      }
    }
    .searchButton {
      height: 36px;
      color: #6CE37C;
      font-family: Cascadia Mono;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .mapGraph {
    .reportContainer {
      left: 50%;
      transform: translateX(-50%);
      a {
        padding-left: 6px;
      }
      .svgItemLeft {
        padding: 0 12px 0 20px;
      }
    }
    .mobileReportContainer {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .mapGraphCt {
    .mapGraph {
      flex-direction: column;
      align-items: center;
      .popup {
        width: 323px;
        left: 48%;
        .nodeIdInfo {
          padding: 10px 0;
          span {
            max-width: 250px;
            word-wrap: break-word;
          }
        }
      }
    }
    .searchNodeContainer {
        height: 134px;
        .inputSearchNodeID {
          width: 327px;
          input {
            flex: 1;
            width: 300px;
            z-index: 9999;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
        }
        .searchButton {
          height: 32px;
          font-size: 12px;
        }
    }
  }
}
