.main{
  @include for-pad {
    padding: 0 20px;
  }

  @include for-mobile {
    padding: 0 20px;
  }
}

.group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .chartWrapper {
    flex-basis: 45%;

    @include for-pad {
      flex-basis: 100%;
    }

    @include for-mobile {
      flex-basis: 100%;
    }
  }
}


.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 56px;
  margin-top: 20px;
  background-color: #26282F;

  p{
    margin: 0;
    font-size: 14px;
    color: white;

    span{
      color: white;

      & + a{
        margin-left: 5px;
      }
    }

    &:last-child{
      margin-top: 5px;
    }
  }


  svg{
    vertical-align: middle;
    margin-right: 10px;
    width: 15px;
    height: 15px;
  }

  a{
    color: #00AEFC;
    text-decoration: none;

    &:hover,
    &:active{
      text-decoration: underline;
    }
  }
}
