.country{
  margin-right: 10px;
  width: 100%;
  background-color: #2D3039;
  border-radius: 16px;

  .countryGraph{
    min-height: 350px;

    :global{
      .axis-main-group{
        .axis-label-group{
          transform: translate(-15px, 0px) !important;
        }
      }
    }
  }
}
